<ais-clear-refinements></ais-clear-refinements>

<h1>Explore Products</h1>

<ng-container *ngFor="let item of refinements" [ngSwitch]="item.type">

  <h2>{{item.title | titlecase }}</h2>

  <ais-toggle
    *ngSwitchCase="'toggle'"
    attribute="{{item.config.attribute}}"
    label="{{item.config.label}}"
    [on]="'TRUE'"
  ></ais-toggle>

  <ais-refinement-list
    *ngSwitchDefault
    attribute="{{item.config.attribute}}"
    [transformItems]="transformItems"
    [showMore]="item.config.showMore ?? true"
    [searchable]="item.config.searchable ?? true"
    [limit]="item.config.limit ?? 5"
    [showMoreLimit]="item.config.showMoreLimit ?? 40"
    [autoHideContainer]="item.config.autoHideContainer ?? false"

    showMoreLabel="Show More +"
    showLessLabel="Show Less -"
  ></ais-refinement-list>


</ng-container>
