@import "core";

:host ::ng-deep {
  border-right: solid 1px rgba(0, 0, 0, 0.15);
  padding: 30px 15px 30px 20px;
  text-transform: capitalize;

  h1, h2 {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $charcoal-black;
  }

  h1 {
    font-size: 22px;
    margin: 46px 28px 11px 0;
  }

  h2 {
    font-size: 18px;
    border-top: solid 1px $light-gray;
    padding-top: 28px;
  }

  ais-clear-refinements {
    .ais-ClearRefinements-button {
      height: 38px;
      text-align: center;
      border-radius: 3px;
      box-shadow: none;
      color: $charcoal-black;
      border: solid 1px $charcoal-black;
      background: $white;

      &[disabled] {
        color: $dark-grey;
        background: $light-gray;
        border: transparent;
      }
    }
  }

  ais-hierarchical-menu,
  ais-refinement-list,
  ais-toggle,
  ais-range-input {
    margin: 22px 0;
    display: block;
  }

  ais-hierarchical-menu {}

  ais-refinement-list {
    .ais-RefinementList {
      &-item--selected .ais-RefinementList-labelText {
        font-weight: 600;
      }

      &-checkbox {
        display: none;
      }

      &-showMore {
        margin-top: 2em;
        padding: 0;
        border: none;
        background: none;
        box-shadow: none;
      }
    }

    .ais-Highlight mark {
      border-bottom: 2px solid #941013 !important;
      background-color: transparent;
      font-style: normal;
      font-weight: normal;
    }

    .ais-SearchBox {
      margin-bottom: 20px;

      &-form:before {
        display: none;
      }
    }
  }

  ais-toggle {
    .ais-ToggleRefinement {

      &-label {
        flex-direction: row;
        justify-content: flex-start;
      }

      &-checkbox {
        box-shadow: none;
        background: $dark-grey;
        height: 24px;
        width: 44px;

        &:after {
          background: $white;
          height: 22px;
          width: 22px;
        }

        &:checked {
          background: $charcoal-black;

          &:after {
            transform: translateX(20px);
          }
        }
      }

      &-labelText {
        padding: 0 10px;
      }
    }
  }

  ais-range-input {
    .ais-RangeInput {
      &-label {
        display: flex;
        align-items: center;
      }

      &-separator {
        margin: 0 5px;
        font-size: 15px;
        line-height: 30px;
      }

      &-submit {
        height: 38px;
        border-radius: 3px;
        background: #a11e22;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border: none;
        margin-left: 10px;
      }
    }
  }

  .ais-SearchBox-input,
  .ais-RangeInput-input {
    height: 38px;
    padding: 6px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background-color: $white;
    box-shadow: none;

    &::placeholder {
      color: $dark-grey;
    }
  }

  .ais-ToggleRefinement-count,
  .ais-HierarchicalMenu-count,
  .ais-Menu-count,
  .ais-RatingMenu-count,
  .ais-RefinementList-count {
    background: transparent;
    border: none;
    margin-left: 5px;
    color: $dark-grey;
    font-size: 12px;
  }

  .ais-RefinementList-labelText,
  .ais-HierarchicalMenu-label,
  .ais-ToggleRefinement-labelText {
    flex: 1;
  }

  .ais-HierarchicalMenu-label,
  .ais-SearchBox-input,
  .ais-RangeInput-input,
  .ais-RangeInput-separator,
  .ais-RefinementList-labelText,
  .ais-RefinementList-showMore,
  .ais-ClearRefinements-button {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .ais-RefinementList-labelText,
  .ais-HierarchicalMenu-label,
  .ais-ToggleRefinement-labelText {
    line-height: 30px;
  }
}






